Package: lijit-nutch
Version: [[version]].[[timestamp]]
Section: Lijit
Priority: optional
Architecture: all
Essential: no
Maintainer: Lijit.com Engineering [devel@lijit.com]
Description: (revision [[buildNumber]]) lijit patched nutch0.9